# IBD Survey Data Import and Munging

In [175]:
from IPython.display import display_html
import numpy as np
import pandas as pd
import scipy
import sqlite3

import matplotlib.pyplot as plt
import seaborn as sns


# create the database and tables, and import data
# %run db_builder.py

query = """SELECT uf.user_id, foods.name, uf.prep_id, uf.rating, uf.unknown
FROM users_to_foods uf, foods
WHERE uf.food_id = foods.id"""


# import data
conn = sqlite3.connect('food_db.db')
df = pd.read_sql(query, conn)

# default formatting for values
# pd.options.display.float_format = '{:,.0f}'.format
# pd.reset_option("^display")

def display_side_by_side(*args):
    # displays dfs side-by-side
    html_str=''
    for df in args:
        html_str+=df.to_html()
    display_html(html_str.replace('table','table style="display:inline; padding: 10px"'),raw=True)

# confirm the number or rows (questions presented to users, in total) 
print('Number of questions presented to users: {0}'.format(df.shape[0]))

Number of questions presented to users: 151899

With the data in a dataframe, we can pivot the data so each row represents a person's survey answers and we can see the number of participants. However, pivoting initially fails with coulmn set to 'name', since two names weren't unique. 'Pumpkin' was used for both pumpkin as a vegetable and pumpkin seed. 'Squash' was similarly used to reflect both the vegetable and the drink. Manually adjusted the names (to 'Pumpkin seed' and 'Squash (drink)', respectively) to prevent confusion and allow the intended pivot without accidentally aggregating answers to very different survey questions yields:

In [176]:
print(df.columns)
df_pivot = df.pivot(index='user_id', columns='name')
df_pivot.tail()

Index(['user_id', 'name', 'prep_id', 'rating', 'unknown'], dtype='object')

             prep_id                                                       \
name    Agave Nectar Almond Almond Milk Anchovy Apple Apple Juice Apricot
user_id
3547             NaN    NaN         0.0     0.0   NaN         NaN     NaN
3558             0.0    0.0         0.0     0.0   0.0         0.0     0.0
3559             0.0    0.0         0.0     0.0   0.0         0.0     0.0
3563             0.0    0.0         0.0     0.0   0.0         0.0     0.0
3566             0.0    0.0         0.0     0.0   0.0         0.0     0.0

                                             ...          unknown             \
name    Artichokes Asparagus Aspartame       ...       Watercress Watermelon
user_id                                      ...
3547           NaN       NaN       NaN       ...              NaN        NaN
3558           0.0       0.0       0.0       ...              0.0        0.0
3559           0.0       0.0       0.0       ...              1.0        0.0
3563           0.0       0.0       0.0       ...              1.0        0.0
3566           0.0       0.0       0.0       ...              1.0        0.0

                                                               \
name    Wheat Whiskey Wine - Champagne Wine - Pink Wine - Red
user_id
3547      0.0     NaN              NaN         NaN        NaN
3558      0.0     0.0              0.0         0.0        0.0
3559      1.0     1.0              0.0         0.0        1.0
3563      0.0     0.0              0.0         0.0        0.0
3566      0.0     0.0              0.0         0.0        0.0


name    Wine - Sparkling Wine - White Yoghurt - Plain
user_id
3547                 NaN          NaN             0.0
3558                 0.0          0.0             0.0
3559                 0.0          0.0             0.0
3563                 0.0          0.0             0.0
3566                 0.0          0.0             0.0

[5 rows x 750 columns]

Some NaNs already appear in the table, which most likely means that not all food questions were asked for all surveys. My supposition is that there were multiple iterations of the survey all stored in the data table without a column to label the survey number. Let's see how many surveys there were and what the size of each survey was:

In [177]:
q_count = {}
for i in df_pivot.isnull().sum(axis=1).sort_values(ascending=False):
    key = str(int((df_pivot.shape[1] - i)/3)) + '-question'  # divide by 3 to reflect the # of hierarchically indexed columns
    if key in q_count:
        q_count[key] += 1
    else:
        q_count[key] = 1

for k, v in q_count.items():
    print (k,'survey count: ', v)

40-question survey count:  29
61-question survey count:  14
80-question survey count:  24
125-question survey count:  8
164-question survey count:  16
199-question survey count:  8
249-question survey count:  1
250-question survey count:  570

We may still be able to use all of the data from the various iterations of the survey for analysis not sensitive to missing values, but for now we will limit our core data set to only the latest 250-question version of the exam, which leaves ~85% of the initial surveys (570/670).

In [178]:
df_old_surveys = df_pivot.loc[pd.isnull(df_pivot).any(1),:]
print('Confirmed number of old surveys, which are excluded (and saved for later): {0}'.format(df_old_surveys.shape[0]))
df_new_surveys = df_pivot.dropna()
print('Confirmed number of new surveys, which are included: {0}'.format(df_new_surveys.shape[0]))
df_new_surveys.tail()

Confirmed number of old surveys, which are excluded (and saved for later): 100
Confirmed number of new surveys, which are included: 570

             prep_id                                                       \
name    Agave Nectar Almond Almond Milk Anchovy Apple Apple Juice Apricot
user_id
3544             0.0    0.0         0.0     0.0   0.0         0.0     0.0
3558             0.0    0.0         0.0     0.0   0.0         0.0     0.0
3559             0.0    0.0         0.0     0.0   0.0         0.0     0.0
3563             0.0    0.0         0.0     0.0   0.0         0.0     0.0
3566             0.0    0.0         0.0     0.0   0.0         0.0     0.0

                                             ...          unknown             \
name    Artichokes Asparagus Aspartame       ...       Watercress Watermelon
user_id                                      ...
3544           0.0       0.0       0.0       ...              0.0        0.0
3558           0.0       0.0       0.0       ...              0.0        0.0
3559           0.0       0.0       0.0       ...              1.0        0.0
3563           0.0       0.0       0.0       ...              1.0        0.0
3566           0.0       0.0       0.0       ...              1.0        0.0

                                                               \
name    Wheat Whiskey Wine - Champagne Wine - Pink Wine - Red
user_id
3544      0.0     0.0              0.0         0.0        0.0
3558      0.0     0.0              0.0         0.0        0.0
3559      1.0     1.0              0.0         0.0        1.0
3563      0.0     0.0              0.0         0.0        0.0
3566      0.0     0.0              0.0         0.0        0.0


name    Wine - Sparkling Wine - White Yoghurt - Plain
user_id
3544                 0.0          0.0             0.0
3558                 0.0          0.0             0.0
3559                 0.0          0.0             0.0
3563                 0.0          0.0             0.0
3566                 0.0          0.0             0.0

[5 rows x 750 columns]

Surveys appear to have values of 0 for both a filled in answer of never being able to eat a food, and when the participant decided not to answer the question. We can remove questions that participants decided not to answer based on a 1 (True) value for the "unknown" column. ((This will result in NaN values in our dataframe.))

In [179]:
df_unpivot = df_new_surveys.stack().reset_index()
df_answered = df_unpivot[df_unpivot.unknown != 1 ]
df_answered_pivot = df_answered.pivot(index='user_id', columns='name', values='rating')
print('{0} questions weren\'t answered.'.format(int(df_answered_pivot.isnull().sum().sum())))
df_answered_pivot.tail()

53429 questions weren't answered.

name,Agave Nectar,Almond,Almond Milk,Anchovy,Apple,Apple Juice,Apricot,Artichokes,Asparagus,Aspartame,...,Watercress,Watermelon,Wheat,Whiskey,Wine - Champagne,Wine - Pink,Wine - Red,Wine - Sparkling,Wine - White,Yoghurt - Plain
user_id,,,,,,,,,,,,,,,,,,,,,
3544,NaN,10.0,NaN,10.0,4.0,0.0,5.0,10.0,10.0,NaN,...,10.0,10.0,2.0,9.0,2.0,1.0,2.0,1.0,0.0,10.0
3558,6.0,6.0,10.0,8.0,4.0,4.0,4.0,9.0,7.0,6.0,...,4.0,6.0,1.0,2.0,3.0,3.0,6.0,3.0,3.0,3.0
3559,NaN,10.0,NaN,NaN,10.0,0.0,NaN,7.0,7.0,4.0,...,NaN,9.0,NaN,NaN,5.0,6.0,NaN,6.0,7.0,9.0
3563,NaN,7.0,7.0,NaN,6.0,NaN,NaN,NaN,6.0,NaN,...,NaN,7.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
3566,NaN,NaN,NaN,NaN,5.0,NaN,6.0,NaN,NaN,NaN,...,NaN,10.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0

That's a really high number of questions that weren't answered. Let's dig into which questions went unanswered the most:

In [180]:
# counts of unanswered question by food, sorted most to least
# can compare the % answered from the new and old surveys to help improve the survey responses
possible = df_answered_pivot.shape[0]
unanswered_count = df_answered_pivot.isnull().sum().sort_values(ascending=False)
unanswered_percent = unanswered_count.divide(possible)*100
unanswered = pd.DataFrame({'unanswered_count': unanswered_count, 'unanswered_percent': unanswered_percent})
unanswered['unanswered_percent'] = unanswered['unanswered_percent'].map('{:,.2f}%'.format)

display_side_by_side(unanswered.head(10), unanswered.tail(10).sort_values('unanswered_percent'))

,unanswered_count,unanswered_percent
name,,
Goose Egg,486,85.26%
Quail Egg,470,82.46%
Rabbit,462,81.05%
Goose,445,78.07%
Herring,442,77.54%
Veal,439,77.02%
Hazelnut Milk,437,76.67%
Rice Milk,436,76.49%
Oysters,434,76.14%
Goat Milk,422,74.04%
,unanswered_count,unanswered_percent
name,,
"Potatoes, White",1,0.18%
Butter,15,2.63%
Chicken Egg,16,2.81%
"Rice, White",19,3.33%
Apple,20,3.51%
Carrots,20,3.51%
Chicken,22,3.86%
Grapes,25,4.39%
Onions,26,4.56%
Chocolate - Milk,26,4.56%

The least answered survey questions (left table above) seem to be less commonly eaten foods, such as goose eggs and quail eggs, which makes sense - users can't answer if they can eat a food if they haven't tried it before. Conversely, and supporting that conclusion, the most answered survey questions (right table above) all seem to be more common foods (however, of note, there is no question that was answered by everyone).

Now that the data has been cleaned up, we're close to being able to initially assess the data and determine appropraite tests to run. 

Before we begin we just need to determin the level of measurement of our survey data (measurement scale).

Determining whether our survey results most appropriately reflects interval data (as it was collected) or [discrete] ordinal data (such as in a likert survey) is somewhat challenging in this case, and extremely important.  If we determine that our data is ordinal, parameters such as mean and standard deviation will likely be invalid, and any parametric analyses (generally considered to have more statistical power) based on the normal distribution will be impossible. Rather, rank, median, and range and associated tests will be the extent of our toolkit. The “intervalness” of the data is an attribute of the data, not of the labels. The primary distinguishing factor will be whether the "distance" between responses is equal and meaningful. A few things to consider in our case:
* Is the distance between 0 and 1 (never eat and very rarely eat) the same as 1 to 2? You can eat infinitely more of a food at 1 than 0...Also, how can you even measure the distance from always to anything less than always? The step always seems like it has to be near infinite (obviously this whole discussion is limited by the normal quantities of food people can/want to eat). The answer to this question seems to be that the distances are unequal, leading to the connclusion of ordinal data.
* If the distances between 0 and 1 ARE the same as 1 and 2, there's the presentation of the survey itself to consider. Given that the survey presented a label-less sliding scale for each food, it's difficult to conclude that survey responses would have been given in purposefully equal increments. That said, even without labels, survey partcipants were likely assuming such equal increments in attempting to place the scale. This line of logic gives a fuzzier answer, but seems to side with cautiously attempting to analyze the data assuming interval measurement.
* If by this point we've sided with interval measurement, the question becomes is 0 [never eat; false] a meaningful zero value in this case? If so, could it be a ratio scale?

Even assuming we have interval data, in order to determine if we can/should run parametric tests. Non-parametric tests may still yet be appropriate, given the the data could be better represented by the median as opposed to the mean; howeve the real determining factor will be whether we have "standard" (ideally normal) probability distributions for each of the foods' responses, or potentially normalizing the data ourselves, if possible.

Digging deaper into the answers that we DO have for each survey question, let's see if the data reveals anything. We start by looking at the descriptive statistics:

In [181]:
df_answered_pivot.describe()  # .applymap('{:,.2f}'.format)
# add median, mode, skew, kurtosis
#find food values where min > 0 and where max < 10

name,Agave Nectar,Almond,Almond Milk,Anchovy,Apple,Apple Juice,Apricot,Artichokes,Asparagus,Aspartame,...,Watercress,Watermelon,Wheat,Whiskey,Wine - Champagne,Wine - Pink,Wine - Red,Wine - Sparkling,Wine - White,Yoghurt - Plain
count,180.000000,448.000000,229.000000,161.000000,550.000000,497.000000,362.000000,198.000000,395.000000,306.000000,...,327.000000,453.000000,516.000000,295.000000,417.000000,414.00000,360.000000,426.000000,433.000000,495.000000
mean,3.227778,4.082589,6.991266,4.968944,5.394545,4.678068,4.240331,3.712121,5.800000,2.728758,...,5.168196,6.278146,4.023256,2.247458,3.429257,3.36715,2.955556,3.286385,3.586605,5.804040
std,4.214673,3.941389,3.853674,4.369529,3.838114,4.015718,3.838171,3.978745,3.881886,3.529030,...,4.052474,3.861242,3.607361,3.482188,3.670360,3.66126,3.621081,3.572134,3.631460,3.971047
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,2.000000,0.000000,...,0.000000,3.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,2.000000
50%,0.000000,4.000000,10.000000,5.000000,5.000000,5.000000,4.000000,2.000000,6.000000,1.000000,...,5.000000,7.000000,4.000000,0.000000,2.000000,2.00000,1.000000,2.000000,3.000000,6.000000
75%,8.000000,8.000000,10.000000,10.000000,10.000000,10.000000,7.750000,7.000000,10.000000,5.000000,...,10.000000,10.000000,6.000000,5.000000,6.000000,6.00000,5.000000,6.000000,6.000000,10.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.00000,10.000000,10.000000,10.000000,10.000000

Now let's test/adjust for normality, as mentioned in Step #2 above, to determine if parametric testing will be possible:

In [182]:
# run tests for normality
scipy.stats.normaltest(df_answered_pivot, nan_policy='omit')
# ALSO use scipy.stats.shapiro shapiro-wilk test
# If the p-val is very small, it means it is unlikely that the data came from a normal distribution. Use 5%.
# also plot histograms for all foods; add normal distribution line

NormaltestResult(statistic=masked_array(data = [106.81400880813243 -- 43.69476870920097 -- -- -- 1231.4822633458443
 205.29475833669426 -- 42.59282470953727 -- 385.0925223786179
 19074.341656821412 79.75937551748495 49.368912222701766 121.49347478009904
 415.3803011096851 86.63578389644313 163.24753488841608 63.81532683860141
 147.90436624540024 100.8818372534133 984.665101202696 63.40748039639519 --
 2040.1903639697277 -- 90.04867432404691 152.75463791206346
 128.89587838611016 -- -- 199.53184576623937 44.739874011455996
 230.91738504877478 -- -- 294.0576624104485 500.8287699847974
 75.18613499086861 4422.601423648415 -- -- 108.9556520026662 --
 1025.5595853089148 1061.3904424355471 -- -- 45.273977501004694
 38.85486239652403 263.63023943244974 83.8434433594168 3332.900980288191 --
 -- -- -- 51.010191986620086 -- 275.12847481561715 -- 109.00673262774507
 203.5243720282529 690.7309178006759 264.03106648979116 30083.121559464398
 58.23495793850375 247.27406437532235 -- -- -- -- 166.4674257111382 -- --
 -- -- 635.6589137779076 387.7744277126843 -- 146.0009891591641
 462.44557769420436 -- 30.45623001214049 -- 88.37422238825398
 49.19390230934607 265.8713493486554 74.26632079414787 59.25890086198417
 1332.40539525738 70.92102997645671 376.08023942603864 66.50178564819572
 28.506667983985913 -- 127.78624233655056 29.51069857090569
 33.72885326004627 191.8153360730238 63.66195071439391 48.8152609678075 --
 66.91848017330284 85.80077656373169 409.33324000018246 -- --
 271.61162283608707 -- -- -- 1448.2525840051962 -- -- 1948.0401142140638 --
 -- -- 628.8785438915465 -- -- 78.25104122168864 89.94232610440623
 111.34486419815795 140.26342939805136 89.81192084184413 32.839655035879424
 71.36157485990766 1319.1315234818887 336.9570446809518 -- --
 570.3737366480627 221.43793354950134 581.0946613545389 -- -- -- --
 622.5231147677418 -- -- -- 100.76375115398689 20847.60323665004
 375.92914982802023 -- 360.485322221123 -- -- 37.71054156818877 --
 368.1247859466179 -- -- 144.72470729262886 -- 57.41388161984156
 410.98128559085137 -- 584.2966695379919 441.8845679255347
 55.63526126241227 -- 196.7131466402046 1423.6534970071727
 63.552535229930356 97.02509309803247 2466.10071696719 77.86657592146041
 77.38730865996844 65.74903318926191 -- 85.76529228725033
 100.93118996590744 -- -- 66.71958418618479 -- 894.700664301051 --
 63.14541348677106 436.19708059630307 -- -- 77.5796214404918 --
 44.86318558339095 -- 39.682628510169344 52.74508677062855
 80.28130873094032 -- 349.7372171223159 50.52711077919261
 1914.2058051529684 -- 502.463610285216 110.99743413415756 --
 127.45956525789771 86.7309349232755 -- 42.95339945849268 --
 421.2699357940112 -- -- 49.06144282617403 35.27737359846406 --
 68.12237242299446 40.61336806913536 -- 206.41306104227237
 60.24141788782423 -- 107.46307805866442 -- -- -- 137.6691092270516
 76.45277357160077 -- 44.83074299557067 6398.68538605437 --
 466.0139681377046 75.99003300834205 90.97822634362898 95.48663511419353 --
 80.72084622009052 -- -- 532.725883512095 317.9651114214996
 4456.84263915199 -- 394.4131880234651 288.43164122681765 54.99494412003696
 124.2701551898546 100.77145697825017 52.62244410154741 78.86914283369303
 155.28363303359666 --],
             mask = [False  True False  True  True  True False False  True False  True False
 False False False False False False False False False False False False
  True False  True False False False  True  True False False False  True
  True False False False False  True  True False  True False False  True
  True False False False False False  True  True  True  True False  True
 False  True False False False False False False False  True  True  True
  True False  True  True  True  True False False  True False False  True
 False  True False False False False False False False False False False
  True False False False False False False  True False False False  True
  True False  True  True  True False  True  True False  True  True  True
 False  True  True False False False False False False False False False
  True  True False False False  True  True  True  True False  True  True
  True False False False  True False  True  True False  True False  True
  True False  True False False  True False False False  True False False
 False False False False False False  True False False  True  True False
  True False  True False False  True  True False  True False  True False
 False False  True False False False  True False False  True False False
  True False  True False  True  True False False  True False False  True
 False False  True False  True  True  True False False  True False False
  True False False False False  True False  True  True False False False
  True False False False False False False False False  True],
       fill_value = 1e+20)
, pvalue=array([  6.39194004e-024,   6.15380222e-003,   3.24938769e-010,
         9.91526378e-001,   5.95563058e-001,   3.75940647e-001,
         3.86388537e-268,   2.63517611e-045,   5.72302278e-002,
         5.63748799e-010,   8.82006904e-001,   2.38902808e-084,
         0.00000000e+000,   4.79150192e-018,   1.90404375e-011,
         4.14979992e-027,   6.32868775e-091,   1.53914154e-019,
         3.55834626e-036,   1.38892197e-014,   7.63791718e-033,
         1.24104457e-022,   1.52296531e-214,   1.70310168e-014,
         4.48246544e-001,   0.00000000e+000,   4.98910456e-001,
         2.79369390e-020,   6.75696757e-034,   1.02474460e-028,
         7.19394109e-001,   8.96291692e-001,   4.70121605e-044,
         1.92690276e-010,   7.19327972e-051,   2.98261613e-002,
         2.44809200e-002,   1.40019953e-064,   1.76365815e-109,
         4.71561379e-017,   0.00000000e+000,   3.56306846e-001,
         7.44577228e-001,   2.19068927e-024,   9.21964426e-001,
         2.00708432e-223,   3.32654845e-231,   8.76840051e-001,
         9.99083449e-001,   1.47530121e-010,   3.65404451e-009,
         5.66788299e-058,   6.21766906e-019,   0.00000000e+000,
         3.64847429e-001,   8.62891433e-001,   9.88611236e-001,
         5.74285082e-001,   8.38064703e-012,   1.58642032e-001,
         1.80555527e-060,   9.39733611e-001,   2.13544684e-024,
         6.38622400e-045,   1.02255567e-150,   4.63855154e-058,
         0.00000000e+000,   2.26172374e-013,   2.01892024e-054,
         7.78636352e-001,   9.99745242e-001,   9.98560625e-001,
         1.15880661e-001,   7.11308172e-037,   5.11409799e-002,
         2.37209135e-001,   5.77560723e-001,   3.00431813e-001,
         9.29866682e-139,   6.24960991e-085,   7.09573738e-001,
         1.97828122e-032,   3.81257779e-101,   9.95583010e-001,
         2.43508252e-007,   5.92467141e-001,   6.45329379e-020,
         2.07816412e-011,   1.84828969e-058,   7.46918719e-017,
         1.35548019e-013,   4.69725990e-290,   3.97826780e-016,
         2.16378264e-082,   3.62510615e-015,   6.45439735e-007,
         5.21162629e-001,   1.78471981e-028,   3.90690838e-007,
         4.74102859e-008,   2.22755789e-042,   1.49962630e-014,
         2.51131254e-011,   9.62537666e-001,   2.94331444e-015,
         2.33667385e-019,   1.30141649e-089,   5.54800176e-001,
         7.78598100e-001,   1.04781712e-059,   4.39528470e-001,
         3.40824717e-001,   9.51020052e-001,   0.00000000e+000,
         8.07280846e-001,   5.06687282e-001,   0.00000000e+000,
         9.16471689e-001,   8.22713990e-001,   8.39605404e-001,
         2.75904828e-137,   2.74149404e-002,   9.77762760e-001,
         1.01859678e-017,   2.94626659e-020,   6.63391565e-025,
         3.48484366e-031,   3.14477215e-020,   7.39536332e-008,
         3.19176501e-016,   3.58285493e-287,   6.77185154e-074,
         1.81693590e-001,   7.98669893e-001,   1.39610080e-124,
         8.22931502e-049,   6.55990508e-127,   2.15218788e-001,
         8.89787700e-001,   9.70485474e-001,   9.91787409e-001,
         6.61946972e-136,   5.95632377e-001,   9.16154983e-001,
         2.05446132e-001,   1.31652603e-022,   0.00000000e+000,
         2.33357800e-082,   8.70327090e-001,   5.26752828e-079,
         1.25570988e-003,   7.01932838e-003,   6.47530074e-009,
         4.08897534e-001,   1.15536287e-080,   3.28487971e-001,
         4.02101760e-001,   3.74480419e-032,   9.17371837e-001,
         3.40984010e-013,   5.70883842e-090,   9.69105078e-001,
         1.32309282e-127,   1.11169399e-096,   8.29767685e-013,
         3.27969619e-001,   1.92434505e-043,   7.20395604e-310,
         1.58395310e-014,   8.53628155e-022,   0.00000000e+000,
         1.23449085e-017,   1.56877059e-017,   5.28176224e-015,
         2.85706448e-001,   2.37850139e-019,   1.21079487e-022,
         1.38337384e-001,   9.17857095e-001,   3.25107042e-015,
         3.80657902e-002,   5.22660006e-195,   9.99844319e-001,
         1.94154599e-014,   1.90988597e-095,   7.56292015e-001,
         8.96560529e-002,   1.42494877e-017,   3.16034991e-002,
         1.81168643e-010,   8.78012486e-001,   2.41560937e-009,
         3.52005893e-012,   3.69092575e-018,   2.67530285e-001,
         1.13639220e-076,   1.06703165e-011,   0.00000000e+000,
         5.89168123e-001,   7.78777415e-110,   7.89247882e-025,
         7.65530795e-001,   2.10139198e-028,   1.46763066e-019,
         7.92038814e-001,   4.70747279e-010,   3.53947076e-002,
         3.32962824e-092,   1.06602846e-004,   1.23984657e-001,
         2.22046051e-011,   2.18582634e-008,   6.73975731e-002,
         1.61218465e-015,   1.51676807e-009,   1.93755043e-002,
         1.50651444e-045,   8.29358528e-014,   3.08719008e-001,
         4.62050129e-024,   1.28970353e-003,   4.89552825e-003,
         2.15432150e-002,   1.27506630e-030,   2.50317467e-017,
         7.01593535e-001,   1.84131397e-010,   0.00000000e+000,
         4.19226007e-002,   6.40254403e-102,   3.15481569e-017,
         1.75521032e-020,   1.84221637e-021,   9.87357077e-001,
         2.96272237e-018,   2.86993713e-001,   9.02095492e-001,
         2.08950884e-116,   9.01059222e-070,   0.00000000e+000,
         8.97904420e-001,   2.26081188e-086,   2.33273231e-063,
         1.14287733e-012,   1.03532969e-027,   1.31146333e-022,
         3.74266927e-012,   7.47796172e-018,   1.90804021e-034,
         2.94867622e-002]))